#openDialogButton {
  color: white;
  background-color: black;
  height: 40px;
}

.c-dialog {
  width: 320px;
  height: 300px;
  padding: 20px;
  overflow-y: scroll;
  /* dialog利用できる際、上にスクロールされる問題の対処 Dialog対応のChromeだけにしたい*/
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
